@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<MVCHomework6.Data.Database.TagCloud>

<div class="card mb-1">
                <div class="card-header">
                    Tags
                </div>
                <div class="card-body">
                    <ul class="list-inline">
                        @foreach (var item in Model)
                        {
                            <li class="list-inline-item">
                                <a class="btn" asp-action="TagList" asp-controller="Home" asp-area="" asp-route-tag="@item.Name">
                                    @item.Name
                                    <span class="badge bg-secondary">@item.Amount</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>