@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model MVCHomework6.Areas.CreateBlog.Models.CreateBlogViewModel
@{
}

@section Head{
    <link rel="stylesheet" href="~/lib/pickadate.js-3.6.2/lib/themes/default.css" />
    <link rel="stylesheet" href="~/lib/pickadate.js-3.6.2/lib/themes/default.date.css" />

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
}

<div class="card">
    <form asp-action="Index" asp-controller="Create" asp-area="CreateBlog" method="post" enctype="multipart/form-data">
        <div class="card-body">
            <div class="validation-summary-errors" data-valmsg-summary="true"></div>
            <div class="row mb-2">
                <label asp-for=Title></label>
                <input asp-for=Title class="form-control" />
                <span asp-validation-for=Title class="form-text text-danger"></span>
            </div>
            <div class="row mb-2">
                <label asp-for=Body></label>
                <textarea asp-for=Body class="form-control" ></textarea>
                <span asp-validation-for=Body class="form-text text-danger"></span>
            </div>
            <div class="row mb-2">
                <label asp-for=CoverPhoto></label>
                <input asp-for=CoverPhoto type="file" class="form-control" />
                <span asp-validation-for=CoverPhoto class="form-text text-danger"></span>
            </div>
            <div class="row mb-2">
                <label asp-for=CreateDate></label>
                @Html.EditorFor(m => m.CreateDate)
                @*<input asp-for=CreateDate class="form-control create-date" data-value="@DateTime.Now.ToString("yyyy/MM/dd")" />*@
                <span asp-validation-for=CreateDate class="form-text text-danger"></span>
            </div>
            <div class="row mb-2">
                <label asp-for=Tags></label>
                <select asp-for="Tags" asp-items="Model.TagCloud" class="js-example-basic-multiple" multiple="multiple">
                </select>
                <span asp-validation-for=Tags class="form-text text-danger"></span>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">提交</button>
        </div>
    </form>
    <span class="text-danger">@(ViewData["msg"])</span>
</div>

@section Scripts{
    <script src="~/lib/pickadate.js-3.6.2/lib/picker.js"></script>
    <script src="~/lib/pickadate.js-3.6.2/lib/picker.date.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    
    <script>
        $('.create-date').pickadate({
            format: "yyyy/mm/dd"
        });
        $(document).ready(function() {
            $('.js-example-basic-multiple').select2({
                tags: true,
                tokenSeparators: [',', ' ']
            });
        });
    </script>
}