@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

@model string

<ul class="p-0">
    @foreach (var item in Model.Split(","))
    {
        <li class="d-inline pe-2">
            <a asp-action="Index" asp-controller="Home" asp-area="" asp-route-tag="@item">@item</a>
        </li>
    }
</ul>